---
title: About
layout: layout.njk
---

<div class="container py-5">

    <section class="row mb-4 intro">
        <h2 class="mb-3">{{title}}</h2>
        <p>London based Solutions Engineer.</p>
        <p>Interested in all things frontend related. I like to read about Eastern Philosophy and deep ecology.</p>
        <p>My favourite chess opening is the <a href="https://www.simplifychess.com/evans-gambit/index.html">Evans Gambit.</a></p>
    </section>

    <section class="row mb-4 resume">
        <h2 class="mb-4">Resume</h2>

        <div class="mb-3">
            <h3 class="mb-3 fs-5">Current</h3>
            <p>Solutions Engineer <a href="https://algolia.com">@Algolia</a></p>
        </div>
        <div>
            <h3 class="mb-3 fs-5">Previous</h3>
            <p>Solutions Engineer <a href="https://search.io">@Search.io</a></p>
            <p>Digital Marketing Manager <a href="https://www.logmycare.co.uk/">@Logmycare</a></p>
        </div>
    </section>


    <section class="row learning">
        
        <div class="mb-3">
            <h2 class="mb-4">Learning & growth</h2>
            <p>I'm always learning, both personally and professionally.</p>
            <p>Here are some courses i've completed and am actively taking. Some completed (<i class="fa-solid fa-circle-check"></i>)  some ongoing (<i class="fa-regular fa-circle-check"></i>)</p>
        </div>
        

        <div class="mb-3">
            <h3 class="mb-3 fs-5">Solutions Engineering</h3>
            <ul class="ps-4 list-unstyled">
                <li class="mb-2">                    
                    <i class="fa-solid fa-circle-check me-2"></i>
                    <a href="https://www.linkedin.com/learning-login/share?account=2166353&forceAccount=false&redirect=https%3A%2F%2Fwww.linkedin.com%2Flearning%2Ftechnical-sales-the-role-of-the-sales-engineer%3Ftrk%3Dshare_ent_url%26shareId%3D0rAui%252FUxRsWASNX%252BtoE8wA%253D%253D">
                        <span class="bolder">Technical Sales: The Role of the Sales Engineer</span>
                    </a> 
                    <span>- John Care</span>
                    <span class="style-italic fst-italic">(Certification)</span>
                </li>
                <li>
                    <i class="fa-regular fa-circle-check me-2"></i>
                    <a href="https://www.udemy.com/course/the-sales-engineer-survival-guide/">
                        <span class="bolder">The Sales Engineer Survival Guide</span>
                    </a> 
                    <span>- Patrick Pissang</span>
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <h3 class="mb-3 fs-5">Web development</h3>
            <ul class="ps-4 list-unstyled">
                <li class="mb-2">                    
                    <i class="fa-solid fa-circle-check me-2"></i>
                    <a href="https://www.udemy.com/share/101Wfe3@aUdy68_rXrxdFeV-6OMAKJTMjs2TP28mjUT1DoJrWAFBfgqKFfSdR28bHI5UADz-/">
                        <span class="bolder">The Complete JavaScript Course 2023: From Zero to Expert!
                        </span>
                    </a> 
                    <span>- Jonas Schmedtmann</span>
                    <span class="style-italic fst-italic"><a href="../assets/docs/js-udemy.pdf">(Certification)</a></span>
                </li>
            <li class="mb-2">                    
                    <i class="fa-solid fa-circle-check me-2"></i>
                    <a href="https://www.udemy.com/share/101Wkw3@Obpr2FjXx1RwhyVdY5mGk5cMtfHo_YMjRSuOMMQZ1hC8lvwXjxUd6GXpeU1hNjEM/">
                        <span class="bolder">Advanced CSS and Sass
                        </span>
                    </a> 
                    <span>- Jonas Schmedtmann</span>
                    <span class="style-italic fst-italic"><a href="../assets/docs/scss-udemy.pdf">(Certification)</a></span>
            </li>
            <li>
                <i class="fa-regular fa-circle-check me-2"></i>
                <a href="https://www.udemy.com/share/101Wby3@WWZrDvmjRAjDEud4OSgsQu6dptkJsAkdNsM-Amllc_8b8GPOanPnNycWqTWZsrFq/">
                    <span class="bolder">React - The Complete Guide (incl Hooks, React Router, Redux)
                    </span>
                </a> 
                <span>- Maximilian Schwarzmüller</span>
            </li>
            </ul>
        </div>

        <p>
            <a class="btn btn-primary opacity-0" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Course wishlists
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
            <h2 class="fs-5 mb-4">How did you stumble across this?🧐 (course wishlists)</h3>
               <h3 class="fs-6">
                    Web development:
                </h3>
                    <ul class="ps-4">
                        <li class="mb-2">                    
                            <a href="https://www.udemy.com/course/nodejs-express-mongodb-bootcamp/">NodeJS</a>
                        </li>
                        <li class="mb-2">                    
                            <a href="https://www.udemy.com/share/105HjC3@FalE64whmSl3-FQywvyJUwJP5D-02xs3RH06gi5qN5p_aV-t0dA3ya3KCAT7MAxg/">MERN stack</a>
                        </li>
                        <li class="mb-2">                    
                            <a href="https://www.udemy.com/share/1013fc3@n7ZrfDbR-NL-UPQMZ2FOc9yCvadz-a6oWiY4B40UzzuyFPSdCJOJHAE9jcIhfQ1d/">UX/UI</a>
                        </li>
                    </ul>

                    <h3 class="fs-6">
                        Deep learning
                    </h3>
                        <ul class="ps-4">
                            <li class="mb-2">                    
                                <a href="https://www.udemy.com/course/deeplearning/">Deep Learning A-Z™ 2023: </a>
                            </li>
                            <li class="mb-2">                    
                                <a href="https://learn.deeplearning.ai/chatgpt-prompt-eng/lesson/1/introduction">ChapGPT prompt engineering</a>
                            </li>
                        </ul>

                        <h3 class="fs-6">
                            Computer stuff
                        </h3>
                            <ul class="ps-4">
                                <li class="mb-2">                    
                                    <a href="https://www.youtube.com/watch?v=wBp0Rb-ZJak&ab_channel=JosephDelgadillo">The Complete Linux Course: Beginner to Power User!</a>
                                </li>
                                <li class="mb-2">                    
                                    <a href="https://www.youtube.com/watch?v=tK9Oc6AEnR4&ab_channel=freeCodeCamp.org">Bash scripting</a>
                                </li>
                            </ul>
            </div>
          </div>

    </section>
</div>