---
title: About
layout: layout.njk
---

<div class="container py-5">

    <div class="row mb-4">
        <h2 class="mb-3">{{title}}</h2>
        <p>London based Solutions Engineer.</p>
        <p>Interested in all things frontend related. I like to read about Eastern Philosophy and deep ecology.</p>
        <p>My favourite chess opening is the <a href="https://www.simplifychess.com/evans-gambit/index.html">Evans Gambit.</a></p>
    </div>

    <div class="row">
        <h2 class="mb-4">Resume</h2>

        <div class="mb-3">
            <h3 class="mb-3 fs-5">Current</h3>
            <p>Solutions Engineer <a href="https://algolia.com">@Algolia</a></p>
        </div>
        <div>
            <h3 class="mb-3 fs-5">Previous</h3>
            <p>Solutions Engineer <a href="https://search.io">@Search.io</a></p>
            <p>Digital Marketing Manager <a href="https://www.logmycare.co.uk/">@Logmycare</a></p>
        </div>
    </div>
</div>