---
layout: layout.njk
title: Projects
---

<div class="container py-5">

  <div class="row text-center">
    <h2>{{title}}</h2>
  </div>

  <div class="row">
    <div class="mb-5">
      <h3 class="mb-3">
        Websites
      </h3>
      <ul>
        {%- for post in collections['website'] -%}
              <li><a href={{post.data.link}} class="me-2">
                {{post.data.title}}
              </a> -
              <span class="fs-6 fst-italic text-body-tertiary fw-light">
                {{ post.data.tech | join(', ') }}
              </span>
        {% endfor %}
      </ul>
    </div>

  <div class="mb-5">
    <h3 class="mb-3">
      Web Apps
    </h3>
    <ul>
      {%- for post in collections['web-app'] -%}
            <li><a href={{post.data.link}} class="me-2">
              {{post.data.title}}
            </a> -
            <span class="fs-6 fst-italic text-body-tertiary fw-light">
              {{ post.data.tech | join(', ') }}
            </span>
      {% endfor %}
    </ul>
  </div>


  </div>
 
</div>