---
title: Reading list
layout: layout.njk
---
<div class="container py-5">
    <h1 class="text-dark-emphasis fw-semibold mb-4">{{title}}</h1>
    <h2 class="text-dark-emphasis fw-semibold fs-5">Spirituality</h2>
    <ul>
          <li>
            <a href="" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Title 1
            </a> - John Steinbeck
          </li>

      </ul>
</div>