:root {
    --color-background-default: #233C61;
    --color-font-highlight: #ffbe2e;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,h2,h3,h4,h5,h6, .site-title {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 900px;
}

header {
    background-color: var(--color-background-default);
}


.blog-title a:hover {
    color: black;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
}