---
title: My blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script>
        const theme = localStorage.getItem("theme");
        document.querySelector('html').setAttribute("data-bs-theme", theme);
    </script>
  </head>
  <body>
<header class="container-fluid py-3">
    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <a href="/" class="site-title text-white fs-1 text-decoration-none fw-semibold">JJL</a>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col">
            <ul class="nav">
                <li class="me-3"><a href="/archive" class="text-white text-decoration-none fw-light text-opacity-75">Archive</a></li>
                <li class="me-3"><a href="/projects" class="text-white text-decoration-none fw-light text-opacity-75">Projects</a></li>
                <li class="me-3"><a href="/about" class="text-white text-decoration-none fw-light text-opacity-75">About</a></li>
            </ul>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" style="display: none"role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"><i class="fa-regular fa-moon fs-4" style="color: #ffffff;"></i></label>
                  </div>
                  
            </div>
        </div>
    </div>
</header>
    {{ content | safe }}
    <footer class="container mt-5 text-center text-secondary fs-6">
        Copyright 2023 @JJL
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ad81dc3500.js" crossorigin="anonymous"></script>
    <script src="/index.js"></script>
  </body>
</html>