---
layout: layout.njk
---
<div class="container py-5">
<article>
    <time class="time text-dark-emphasis fw-light fs-6 d-inline-block mb-2" datetime="{{ date | dateIso }}">{{ post.date | dateReadable }}</time>
    <h1 class="blog-title">
        <a href="{{ url | url }}" class="text-decoration-none text-dark-emphasis fw-semibold">{{ title }}</a>
      </h1>
    {{content | safe}}
</article>

</div>
